@charset "utf-8";

* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 93%;
	*font-size: 80%; /* IE 7 */
	*font: 80%; /* IE 6 */
	font-family: 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
	
	color: #666666;
	text-align: left;
}

hr {
	border: #A0A0A0 1px solid;
}

textarea {
	font-size: 100%;
	font-family: 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
}

a {
	color: #0099FF;
	text-decoration: underline; /* none, underline */
}

a:hover {
	color: #FF9900;
	text-decoration: underline; /* none, underline */
}

p, th, td, li {
	font-size: 100%;
	*font-size: 90%;
	*font: 90%;
}

h1, h2 {
	font-size: 100%;
	font-weight: bold;
}

h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}

ul ol {
	font-size: 100%;
}

ul {
	margin-left: 1.0em;
}

ol {
	margin-left: 1.5em;
}

li {
	margin-bottom: 4px;
}

img {
	border: 1px solid;
}

div {
	margin: auto;
}

table, th, td {
	border: solid 1px #CCCCCC;
}

table {
	border-collapse: collapse;
	line-height: 120%;
	margin: 0 auto;
	white-space: normal; /* normal, nowrap */
}

th {
	background-color: #EBEBEB;
	text-align: center;
	padding: 3px 5px;
}

td {
	background-color: #FFFFFF;
	text-align: left;
	padding: 3px 5px;
}

caption {
	font-size: 120%;
	font-weight: bold;
	padding: 10px;
}

li caption {
	font-size: 120%;
	padding: 5px;
}

table img {
	border: 0;
}


/* print *********************************************************************/

@media print {
	
	* {
		color: #000000;
	}
	
	a, a:hover  {
		color: #000000;
		text-decoration: underline;
	}
	
}

