Source: erwiz
Section: misc
Priority: extra
Maintainer: Romain Schmitz <erwiz@slopjong.de>
Build-Depends: debhelper (>= 7.0.50~), javahelper (>=0.25)
Build-Depends-Indep: default-jdk, ant
Standards-Version: 3.9.1
Homepage: http://erwiz.org

Package: erwiz
Architecture: all
Depends: ${java:Depends}, ${misc:Depends}, graphviz
Recommends: ${java:Recommends}
Description: Converts a text-based entity-relationship model to an image
  Erwiz converts a text-based entity-relationship model to an image. It
  offers a very simple syntax and has low editor requirements. Any text 
  editor can be used to write an erwiz model. Common raster and vector image 
  types like png, jpg, pdf and svg are supported but also:
  .
  bmp canon cmap cmapx cmapx_np dot eps fig gd gd2 gif gv 
  ico imap imap_np ismap jpe jpeg plain plain-ext ps ps2 
  svgz tif tiff tk vml vmlz vrml wbmp x11 xdot xlib
