@charset "utf-8";

p {
	margin: 0 0 10px 0;
	padding: 0;
}

h1 {
	font-size: 120%;
	margin: 0 0 5px 0;
	text-indent: 0;
}

#container {
	padding: 10px;
	text-align: left;
	clear: both;
	zoom: 100%;
}

#content {
	margin: 10px 0;
}

#content img, #content object {
	border: solid 1px #A0A0A0;
	padding: 5px;
	max-width: 98%;
}

/* source code ****************************************************************/

#content pre {
	border: solid 1px #A0A0A0;
	padding: 5px;
	font-size: 100%;
	color: #000000;
	background: #FFFFF4;
}

#content pre .comment {
	color: #008000;
}


/* list **********************************************************************/

ul {
	margin: 0 0 0.5em 1em;
	line-height: 1.5em;
}

ul.multi-lines li, ol.multi-lines li {
	margin: 0 0 1em 0;
}

